{% extends "boilerplate.html" %}
{% block content %}

<p style="color: white;" id="clr">Click on the image to download it:
    <style>
        #clr {
            color: magenta;
            justify-content: center;
            align-content: center;
            /* display: flex; */
            margin-top: 250px;
            margin-left: 650px;
            font-size: larger;
        }
    </style>
<p>
    {% if scale=="1" and file=="gcode" %}
    <a href="{{ url_for('download', filename='Pump Volute casing 1_1.txt') }}" id="clr">click here to download</a>

    {% elif scale=="-1" and file=="gcode" %}
    <a href="{{ url_for('download', filename='Pump Volute casing 1_1 v1.stl') }}" id="clr">click here to download</a>

    {% elif scale=="1" and file=="stl" %}

    <a href="{{ url_for('download', filename='ImpellerScaled2_1v1.stl') }}" id="clr">click here to download</a>

    {%else%}
    <a href="{{ url_for('download', filename='Impeller 2_1.txt') }}" id="clr">click here to download</a>

    {% endif %}


    {% endblock %}
</p>